# <h1 align=center><font size = 5>Segmenting and Clustering Neighborhoods in Torronto</font></h1>

#### 1. Import numpy and pandas

In [84]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

#### 2. Read Wikipedia
Check the number of table

In [85]:
URL="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_wiki=pd.read_html(URL)
len(df_wiki)

3

check the dataframe

In [86]:
df_wiki[0].head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### 3. Drop all the Not assigned Borough

In [126]:
df_tor=df_wiki[0][df_wiki[0]['Borough']!='Not assigned'].reset_index(drop=True)
df_tor.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### 4. Check if there is somme not assigned Neighbourhood

In [88]:
df_tor[df_tor['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

#### 5. Check the shape of the dataframe

In [89]:
df_tor.shape

(103, 4)

#### 6. define a fonction to call latitude and longitude

In [90]:
!wget https://cocl.us/Geospatial_data

--2021-02-06 14:05:48--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.63.96.194, 169.63.96.176
Connecting to cocl.us (cocl.us)|169.63.96.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-02-06 14:05:49--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.29.197
Connecting to ibm.box.com (ibm.box.com)|107.152.29.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-02-06 14:05:49--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-02-06 14:05:49--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 185.235.236.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|185.235.236.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!iZ9-mnPIjG_k3My90eR-8Ds0huR0s7uQT_s6-eAzS_Gy9uDUPYFaHfzVBB1oOjr21CyuLrYDZMMKZyxwltTOcD3kgfMd91jOZbb2XHzbD-EYsY8pqSrAJ0gaNRxTC1oxjDZHaCUXBNm8DlrB6ASO3UUxaG9aUBr2Pu3STk1sbsyg1t7ZBeJ-JguEW1AdHnTekwu6rh1kHcqtx1IZbccgWYLteq1BjTTSaTFidrXRZsC7gs_F-5UDaKByYZbB0p9xpaWviXMA6CnWONMGx-00MAAK2LcYff0UpZR8pE_8HFI-iIsv5UdXvTCX7_vQjZOyzNlc_YzpkU3B5QxUB06LJwF6oWCoC91uClVTEmgS8Nu9nIeT2skqM5xrBi28FDmYC1w70_Z9N8kV9Rm-qbKwonMUemWoKNKMCrLNAPsUSilJ3i26nFcXKKv9lFqq3aaOhznT8m0PqryA__3x_f4191Cc3hdmojPddLEhQgFWGqO9D7tx1KQ9K60unG00MqByt5AKShEZxpWvpwZhnLyUtr5qwj_rdPAEYeoIisEUA71bsAycTw6R1_pXcfqfL2nDXhBogx5a1oAhYnNIgfjrImMlomyraqIdu2408fUAht9dO_GC_VibkVkdRiGJcjwo6QeDWAdjA5Lc35xkLgS8Y3wJwxc_C2n8H5BeG3FWEPjIU3EzpD9R7X2uVszm6gOFJO0mmL1qCAWZ4BacI0aCCcdHhKH1j5Pz_H-gsTVpOAxNrsAt2lvvLYuCP1CourObDtiSwVjDQaQy0NEdd2TDaTey8OoKsRaHxUkpa72kGdI_0A4boO3h8t4Dn-4aYs4ByDEeytBbXi2n2ggNm61D-DzMH0t8_aN4JJdeL6TrBtJVLY8rcAAapjJ2wrSi1A6L1MES_nJ8hQ-6q3_zlkbIWRWktd123Zb8igwDayofgUfYh0yzKH0ioY_U2zbzrf7wVPt7dVckk6BFZNLuypgZBunknkANxfN5mxCHXXKD_G_6f-2JpGZ6ALFWCI3s-XzM5wXD62tKfewbli6QQ-1QpknZmYkF93b2X52ozUCkmnXepN_HvSnG0Dih9euw2wmqQujWIa3-EzkyBuLncuApRSwtLzs6XTqyXVWJmnevfxk9q-jEIIWJBnCWL7zhj0gFciCB94w_yP5hCZsRjhv9-2-mvhYZm5xsMcFV_RM6ZjVivAcSPdv4LIsMCMs4oyYmUT5eB526LQZke33lDp152JumYBusRF2xNJgBZZuSynk8qJC5QuJBy1JWIZ71dCHYYvmSNHYTiD85Ei-TiKKi9h2afwmQ-E8jFdAuq37_b3Dq35SzCTTfZAm_SLLFsYjgaw5oQuEctAEamSgdOFWN4s1duvKVg0JeaDQIgBI7_ZkTFJNJYJ7mvZt4hyP1x8BYm_SwceAS6yFXFvvTjsawzOSJlqm0oaLF6k0MRmLLPtxBEQ../download [following]
--2021-02-06 14:05:50--  https://public.boxcloud.com/d/1/b1!iZ9-mnPIjG_k3My90eR-8Ds0huR0s7uQT_s6-eAzS_Gy9uDUPYFaHfzVBB1oOjr21CyuLrYDZMMKZyxwltTOcD3kgfMd91jOZbb2XHzbD-EYsY8pqSrAJ0gaNRxTC1oxjDZHaCUXBNm8DlrB6ASO3UUxaG9aUBr2Pu3STk1sbsyg1t7ZBeJ-JguEW1AdHnTekwu6rh1kHcqtx1IZbccgWYLteq1BjTTSaTFidrXRZsC7gs_F-5UDaKByYZbB0p9xpaWviXMA6CnWONMGx-00MAAK2LcYff0UpZR8pE_8HFI-iIsv5UdXvTCX7_vQjZOyzNlc_YzpkU3B5QxUB06LJwF6oWCoC91uClVTEmgS8Nu9nIeT2skqM5xrBi28FDmYC1w70_Z9N8kV9Rm-qbKwonMUemWoKNKMCrLNAPsUSilJ3i26nFcXKKv9lFqq3aaOhznT8m0PqryA__3x_f4191Cc3hdmojPddLEhQgFWGqO9D7tx1KQ9K60unG00MqByt5AKShEZxpWvpwZhnLyUtr5qwj_rdPAEYeoIisEUA71bsAycTw6R1_pXcfqfL2nDXhBogx5a1oAhYnNIgfjrImMlomyraqIdu2408fUAht9dO_GC_VibkVkdRiGJcjwo6QeDWAdjA5Lc35xkLgS8Y3wJwxc_C2n8H5BeG3FWEPjIU3EzpD9R7X2uVszm6gOFJO0mmL1qCAWZ4BacI0aCCcdHhKH1j5Pz_H-gsTVpOAxNrsAt2lvvLYuCP1CourObDtiSwVjDQaQy0NEdd2TDaTey8OoKsRaHxUkpa72kGdI_0A4boO3h8t4Dn-4aYs4ByDEeytBbXi2n2ggNm61D-DzMH0t8_aN4JJdeL6TrBtJVLY8rcAAapjJ2wrSi1A6L1MES_nJ8hQ-6q3_zlkbIWRWktd123Zb8igwDayofgUfYh0yzKH0ioY_U2zbzrf7wVPt7dVckk6BFZNLuypgZBunknkANxfN5mxCHXXKD_G_6f-2JpGZ6ALFWCI3s-XzM5wXD62tKfewbli6QQ-1QpknZmYkF93b2X52ozUCkmnXepN_HvSnG0Dih9euw2wmqQujWIa3-EzkyBuLncuApRSwtLzs6XTqyXVWJmnevfxk9q-jEIIWJBnCWL7zhj0gFciCB94w_yP5hCZsRjhv9-2-mvhYZm5xsMcFV_RM6ZjVivAcSPdv4LIsMCMs4oyYmUT5eB526LQZke33lDp152JumYBusRF2xNJgBZZuSynk8qJC5QuJBy1JWIZ71dCHYYvmSNHYTiD85Ei-TiKKi9h2afwmQ-E8jFdAuq37_b3Dq35SzCTTfZAm_SLLFsYjgaw5oQuEctAEamSgdOFWN4s1duvKVg0JeaDQIgBI7_ZkTFJNJYJ7mvZt4hyP1x8BYm_SwceAS6yFXFvvTjsawzOSJlqm0oaLF6k0MRmLLPtxBEQ../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.29.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.29.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_data.1’

Geospatial_data.1   100%[===================>]   2.82K  --.-KB/s    in 0s

2021-02-06 14:05:51 (64.2 MB/s) - ‘Geospatial_data.1’ saved [2891/2891]

In [91]:
geo_data= pd.read_csv('Geospatial_data')
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [104]:
def get_coord (postal_code):
    
    coordo=geo_data[geo_data['Postal Code']==postal_code]
    coordo.reset_index(inplace=True)
    latitude = coordo.at[0,'Latitude']
    longitude = coordo.at[0,'Longitude']
    #print('The geograpical coordinate of {} is {}, {}.'.format(postal_code,latitude, longitude))
    return latitude, longitude

print('geocoder function defined!')

geocoder function defined!

In [105]:
lat,long=get_coord('M1G')
print(lat)

43.7709921

#### 7. Loop inside the dataframe and append the lat and long columns

In [127]:
coord=pd.DataFrame(columns=['latitude','longitude'])
coord.drop(coord.index,inplace=True)
for pc in df_tor['Postal Code']:
    latitude, longitude = get_coord(pc)
    coord_pc=pd.DataFrame([[latitude,longitude]],columns=['latitude','longitude'])
    coord=coord.append(coord_pc)
   
coord.shape
coord.reset_index(inplace=True,drop=True)

In [138]:
df_coord=pd.concat([df_tor, coord], axis=1)
df_coord.head()

,Postal Code,Borough,Neighbourhood,latitude,longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

#### 8. Cluster Torronto

In [150]:
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!pip install folium # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import requests

Requirement already satisfied: folium in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.12.1)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (0.4.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.24.0)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.11.2)
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (1.18.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)

In [151]:
CLIENT_ID = 'FGSH10MP0DZPG3ZA1EYRSYRTVZ1Y53N2OG5H4CRMMK5QWO5C' # your Foursquare ID
CLIENT_SECRET = '4RAUQLYVUNRC3VVFJFGOJ4LEG5JCELXKIFSFDGMV3NZIT3WM' # your Foursquare Secret
ACCESS_TOKEN = 'SG5XPBYFBBHH5ZMIEP2DI0QADUGWAGW0YQEGN400KJ0WEPKY' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 100
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: FGSH10MP0DZPG3ZA1EYRSYRTVZ1Y53N2OG5H4CRMMK5QWO5C
CLIENT_SECRET:4RAUQLYVUNRC3VVFJFGOJ4LEG5JCELXKIFSFDGMV3NZIT3WM

#### create a function to explore all the neighborhoods

In [152]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [181]:
torronto_venues = getNearbyVenues(names=df_coord['Neighbourhood'],
                                   latitudes=df_coord['latitude'],
                                   longitudes=df_coord['longitude']
                                  )

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Queen's Park, Ontario Provincial Government
Islington Avenue, Humber Valley Village
Malvern, Rouge
Don Mills
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
East Toronto, Broadview North (Old East York)
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale, Willowdale East
Downsview
Lawrence Park
Roselawn
Runnymede, The Junction North
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale, Willowdale West
North Toronto West, Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Canada Post Gateway Processing Centre
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Stn A PO Boxes
Alderwood, Long Branch
Northwest, West Humber - Clairville
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

In [182]:
print(torronto_venues.shape)
torronto_venues.head()

(2114, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Parkwoods,43.753259,-79.329656,Brookbanks Park,43.751976,-79.332140,Park
1,Parkwoods,43.753259,-79.329656,Variety Store,43.751974,-79.333114,Food & Drink Shop
2,Victoria Village,43.725882,-79.315572,Victoria Village Arena,43.723481,-79.315635,Hockey Arena
3,Victoria Village,43.725882,-79.315572,Portugril,43.725819,-79.312785,Portuguese Restaurant
4,Victoria Village,43.725882,-79.315572,Tim Hortons,43.725517,-79.313103,Coffee Shop

In [210]:
torronto_venues.groupby('Neighborhood').count().head()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Agincourt,4,4,4,4,4,4
"Alderwood, Long Branch",6,6,6,6,6,6
"Bathurst Manor, Wilson Heights, Downsview North",24,24,24,24,24,24
Bayview Village,4,4,4,4,4,4
"Bedford Park, Lawrence Manor East",23,23,23,23,23,23

#### unique categories can be curated from all the returned venues

In [213]:
print('There are {} uniques categories.'.format(len(torronto_venues['Venue Category'].unique())))

There are 273 uniques categories.

In [216]:
# one hot encoding
torronto_onehot = pd.get_dummies(torronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
torronto_onehot['Neighborhood'] = torronto_venues['Neighborhood'] 
#df_onehot=pd.concat([torronto_venues['Neighborhood'], torronto_onehot], axis=1)

# move neighborhood column to the first column
fixed_columns = [torronto_onehot.columns[-1]] + list(torronto_onehot.columns[:-1])
torronto_onehot = torronto_onehot[fixed_columns]

torronto_onehot.head()

,Yoga Studio,Accessories Store,Adult Boutique,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,...,Truck Stop,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wings Joint,Women's Store
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [205]:
df_onehot.shape

(2114, 274)

In [217]:
#df_onehot.columns = df_onehot.columns.get_level_values(0)
tor_group = torronto_onehot.groupby('Neighborhood').mean().reset_index()
tor_group

,Neighborhood,Yoga Studio,Accessories Store,Adult Boutique,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,...,Truck Stop,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wings Joint,Women's Store
0,Agincourt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,"Alderwood, Long Branch",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,"Bathurst Manor, Wilson Heights, Downsview North",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,Bayview Village,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,"Bedford Park, Lawrence Manor East",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.043478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,"Willowdale, Willowdale East",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.028571,0.0,0.0,0.0,0.000000
92,"Willowdale, Willowdale West",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
93,Woburn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
94,Woodbine Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
95,York Mills West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000

### Clustering K means

In [220]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 5

tor_grouped_clustering = tor_group.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(tor_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0,
       2, 0, 2, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 3, 0, 0, 2, 0, 0, 0, 2,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       2, 0, 2, 0, 0, 0, 0, 2], dtype=int32)

In [261]:
tor_group_lab=tor_group[['Neighborhood','Cluster Labels']]
tor_group_lab.head()

                                      Neighborhood  Cluster Labels
0                                        Agincourt               0
1                           Alderwood, Long Branch               0
2  Bathurst Manor, Wilson Heights, Downsview North               0
3                                  Bayview Village               0
4                Bedford Park, Lawrence Manor East               0

In [262]:
tor_group_lab = tor_group_lab.join(df_coord.set_index('Neighbourhood'), on='Neighborhood')

In [263]:
tor_group_lab.head()

,Neighborhood,Cluster Labels,Postal Code,Borough,latitude,longitude
0,Agincourt,0,M1S,Scarborough,43.794200,-79.262029
1,"Alderwood, Long Branch",0,M8W,Etobicoke,43.602414,-79.543484
2,"Bathurst Manor, Wilson Heights, Downsview North",0,M3H,North York,43.754328,-79.442259
3,Bayview Village,0,M2K,North York,43.786947,-79.385975
4,"Bedford Park, Lawrence Manor East",0,M5M,North York,43.733283,-79.419750

In [ ]:
# create map
map_clusters = folium.Map(location=[43.651070, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(tor_group_lab['latitude'], tor_group_lab['longitude'], tor_group_lab['Neighborhood'], tor_group_lab['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters